// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.copilot {
    padding: 15px;
}

.copilot-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 15px;
    text-align: center;
}

.copilot-brand {
    height: 30px; 
    display: inline-block;
}